:root{
    --main-font: 'Roboto',sans-serif;

    --main-txt--cl: #757575;
    --secondary-txt-cl:#212121;
    --accent-color:#2196F3;

    --main-bg-cl:#ffffff;
    --secondary-bg-cl:#F5F4FA;
    --dark-bg-cl:#2F303A;
}

body{
    font-family: 'Roboto', sans-serif ;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--main-txt--cl);
}

.link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-txt-cl);
}
.link-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-txt--cl);
}
.link, .link-contact:hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--accent-color);
}
.link, .link-contact:focus{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--accent-color);
}
.btn{
    font-family: inherit;       
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color:var(--secondary-txt-cl);
        background-color: #F5F4FA;
        cursor: pointer;
}
.btn:hover,
.btn:focus{
    font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color:#ffffff;
        background-color:var(--accent-color);
}
.studio{
    color: var(--secondary-txt-cl);
}
.header-bg{
    background-color:var(--main-bg-cl);
}
.hero-bg{
    background-color: var(--dark-bg-cl);
}
.hero-title{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color:#ffffff;
}
.item{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--secondary-txt-cl);
}
.description{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-txt--cl);
}
.title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--secondary-txt-cl);
}
.list-item{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--secondary-txt-cl);
}
.list-description{
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-txt--cl);
}
.footer-bg{
    background-color: var(--dark-bg-cl);
}
.item-picture{
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--secondary-txt-cl);
}
.picture-dscr{
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color:var(--main-txt--cl);
}